:root {
    --main-and-footer-heading-color: #2F303A;  
    --main-heading-color: #212121;
    --main-text-color: #fff;
    --main-background-section4: #F5F4FA;
    --main-button-color: #2196F3;
    --accent-color-and-current-website: #03A9F4;
    --header-link-color: #7D7D7D;
    --header-color-link: #757575;
    --font-family: 'roboto', sans-serif;
    --second-family: 'raleway', sans-serif;
}

.header-list,
.header-list-item,
.portfolio-list-item,
.button-list-item,
.features,
.team,
.occupation {
    list-style-type: none;
}

.portfolio-button.current {
    background-color: var(--main-button-color);
    color: var(--main-text-color);
}

.portfolio-button:focus,
.portfolio-button:hover {
    background-color: var(--main-button-color);
    color: var(--main-text-color);
}

.address {
    font-style: normal;
}

.header-link {
    color: inherit;
    text-decoration: none;
}

.header-list-item,
.header-link-logo,
.header-contacts.link,
.footer-contacts.link,
.footer-link-logo {
    text-decoration: none;
}

.header-link-logo{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--main-heading-color);
}

.header-contacts.link{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--main-heading-color);
}

.portfolio-all {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.footer-contacts.link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.header-link:hover, 
.header-link:focus {
    color: var(--accent-color-and-current-website);
}

.header-link {
    color: var(--header-link-color);
}

.header-link.carrent {
    color: var(--accent-color-and-current-website);
}

.portfolio-button {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-heading-color);
}

.hidden {
    color: var(--main-heading-color);
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-align: center;
}

.portfolio-list-item {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-heading-color)
}

.portfolio-list.item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.regestration {
    background-color: var(--main-and-footer-heading-color);
    color: var(--main-text-color);
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}

.header-contacts.link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--header-color-link)
}

.header-contacts.link:hover, 
.header-contacts.link:focus {
    color: var(--accent-color-and-current-website);
}

.regestration-button {
    background-color: var(--main-button-color);
    color: var(--main-text-color);
}

.regestration-button {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
}

.heading-features {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
}

.features-name {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.heading-occupation {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.team {
    background-color: var(--main-background-section4);
}

.heading-team{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;
}

.team-name-person {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.team-job {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.footer {
    background-color: var(--main-and-footer-heading-color);
    color: var(--main-text-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    background-color: var(--main-and-footer-heading-color);
    color: var(--main-text-color);
}

.footer-link-logo{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
}