:root {
    --main-and-footer-heading-color: #2F303A;  
    --main-heading-color: #212121;
    --main-text-color: #fff;
    --main-background-section4: #F5F4FA;
    --main-button-color: #2196F3;
}

header nav a {
    color: var(--main-heading-color);
}

main > section:first-child {
    background-color: var(--main-and-footer-heading-color);
    color: var(--main-text-color);
}

main section:nth-child(4) {
    background-color: var(--main-background-section4);
}

button[type=submit] {
    background-color: var(--main-button-color);
    color: var(--main-text-color);
}

footer {
    background-color: var(--main-and-footer-heading-color);
    color: var(--main-text-color);
}