:root {
    --main-and-footer-heading-color: #2F303A;  
    --main-heading-color: #212121;
    --main-text-color: #fff;
    --main-background-section4: #F5F4FA;
    --main-button-color: #2196F3;
    --accent-color-and-current-website: #03A9F4;
    --header-link-color: #7D7D7D;
    --header-color-link: #757575;
    --dark-color-for-text: #000;
    --work-color: #F5F4FA;
    --main-header-color: #ECECEC;
    --buttom-when-mouse-on-button: #188CE8;
    --background-for-icons: #f5f4fa;
    --font-family: 'Roboto', sans-serif;
    --second-family: 'Raleway', sans-serif;
}

body{
    font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  }  

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: 1px solid tomato; */
}

.header {
    background-color: var(--main-header-color);
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-studio-link {
    color: var(--main-button-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    margin-right: 93px;
}

.logo-studio {
    color: var(--dark-color-for-text)
}

.header-list-item:not(:last-child) {
    margin-right: 50px;
}

.header-contacts.link:nth-child(1) {
    margin-right: 50px;
}

.header-list,
.header-list-item,
.portfolio-list-item,
.button-list-item,
.features,
.team,
.occupation {
    list-style-type: none;
}

.title {
    color: var(--main-text-color);
    margin-bottom: 30px;
}

.portfolio-button.current {
    background-color: var(--main-button-color);
    color: var(--main-text-color);
}

.portfolio-button:focus,
.portfolio-button:hover {
    background-color: var(--main-button-color);
    color: var(--main-text-color);
}

.address {
    font-style: normal;
}

.header-link {
    color: inherit;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 14px;
    color: var(--main-heading-color);
}

.header-contacts.link {
    font-weight: 500;
}

.header-list-item,
.header-link-logo,
.header-contacts.link,
.footer-contacts.link,
.footer-link-logo {
    text-decoration: none;
}

.flex-header,
.header-nav,
.header-contacts.link,
.header-list {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-right: 344px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-contacts.link{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--main-heading-color);
}

.contacts {
    display: flex;
    gap: 20px;
}

.section-title {
    background-color: var(--main-header-color);
    padding-top: 200px;
    padding-bottom: 200px;
    background-image:
        linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/main/background-image-main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.portfolio-all {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.button-list {
    margin-bottom: 34px;
    padding-bottom: 26px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.button-list-item {
    margin-right: 8px;
}

.portfolio-button:active {
    background-color: var(--buttom-when-mouse-on-button);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    color: var(--work-color);
}

.portfolio-button,
.portfolio-button.current {
    padding: 6px 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-heading-color);
    border: none;
    border-radius: 4px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
}

.portfolio-list-item {
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 60px) / 3);
}

.text-box {
    padding: 20px 24px;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    flex-grow: 1;
}

.portfolio-name {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    color: var(--main-heading-color);
}

.portfolio-categorie {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.03em;
    color: var(--header-color-link);
}

.portfolio {
    padding-top: 75px;
    padding-bottom: 94px;
}

.footer-contacts.link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.header-link:hover, 
.header-link:focus {
    color: var(--accent-color-and-current-website);
}

.header-link {
    color: var(--header-link-color);
}

.header-link.carrent {
    color: var(--accent-color-and-current-website);
}

.portfolio-button {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-heading-color);
}

.hidden {
    color: var(--main-heading-color);
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-align: center;
}

.portfolio-list-item {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-heading-color)
}

.portfolio-list.item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.portfolio-list-item:hover {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.section-title {
    background-color: var(--main-heading-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.header-contacts.link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--header-color-link)
}

.header-contacts.link:hover, 
.header-contacts.link:focus {
    color: var(--accent-color-and-current-website);
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.regestration-button {
    background-color: var(--main-button-color);
    color: var(--main-text-color);
    padding: 10px 32px;
    min-width: 216px;
    border: 0;
}

.regestration-button {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
}

.heading-features {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
}

.features {
    padding-top: 94px;
}

.features-list {
    display: flex;
}

.features-list-item {
    flex-basis: 270px;
    vertical-align: top;
}

.features-list-item::before {
    content: "";
    height: 120px;
    background-color: var(--background-for-icons);
    display: block; 
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
}

.features-list-item:nth-child(1)::before {
    background-image: url(../images/svg/antenna.svg);
}

.features-list-item:nth-child(2)::before {
    background-image: url(../images/svg/clock.svg);
}

.features-list-item:nth-child(3)::before {
    background-image: url(../images/svg/diagram.svg);
}

.features-list-item:nth-child(4)::before {
    background-image: url(../images/svg/astronaut.svg);
}

.features-list-item:not(:last-child) {
    margin-right: 30px;
}

.features-name {
    margin-bottom: 10px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--header-color-link);
}

.sections {
    padding-top: 94px;
    padding-bottom: 94px;
}

.heading-occupation {
    text-align: center;
    margin-bottom: 50px;
}

.occupation-list {
    display: flex;
}

.occupation.list-item:not(:last-child) {
    margin-right: 30px;
}

.occupation.sections {
    padding-top: 94px;
    padding-bottom: 94px;
}

.occupation.list-item {
    width: 370px;
}

.heading-occupation {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-heading-color);
    margin-bottom: 50px;
}

.team {
    background-color: var(--main-background-section4);
}

.team-list {
    display: flex;
}

.team-image-person {
    margin-bottom: 30px;
}

.team.list-item:not(:last-child) {
    margin-right: 30px;
}

.team.list-item {
    width: 270px;
    text-align: center;
    padding-bottom: 30px;
}

.heading-team {
    text-align: center;
    margin-bottom: 50px;
}

.heading-team{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;
}

.team-name-person {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.team-job {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team.list-item {
    background-color: var(--white-color);
    border-radius: 0 0 4px 4px;
    box-shadow:
        0 2px 1px 0 rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.footer {
    background-color: var(--main-and-footer-heading-color);
    color: var(--main-text-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    background-color: var(--main-and-footer-heading-color);
    padding-bottom: 60px;
    padding-top: 60px;
}

.logo-span {
    color: var(--main-text-color);
}

.logo-footer {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--main-button-color);
    margin-bottom: 20px;
    display: inline-block;
}

.footer-link-logo{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}